/* Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}
/*Start Global variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
/* End Global variables */
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.special-heading + p {
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Components */
/* Global rules */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Phone screen */
@media (max-width: 575px) {
    .container {
        width: 340px;
    }
}
/* Tablets screen */
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 570px;
    }
}
/* Tablets / laptops */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}
/* Large laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}
/* Desktops */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
i {
    font-size: 25px;
}
.header .links {
    position: relative;
}
.header .links ul {
    list-style: none;
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    margin: 0;
    padding: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 5px;
}
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    bottom: 100%;
    right: 8px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #333;
    transition: .3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) {
    border-bottom: solid #ddd 1px
}
/* End Header */
/* Landing */
.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 66.39px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End landing */
/* Features */
.features {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.features .feat {
    text-align: center;
    padding: 20px;
}
.features .feat i {
    font-size: 70px;
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    color: #777;
    font-size: 17px;
}
/* Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services-content .col .srv {
    display: flex;
    margin-bottom: 50px
}
@media (max-width: 767px) {
    .services-content .col .srv {
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.services-content .col .srv i {
    flex-basis: 60px;
    color: var(--main-color);
    font-size: 30px;
}
.services-content .col .srv h3 {
    margin: 0 0 25px;
}
.services-content .col .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services-content .col .srv .services-text {
    flex: 1;
}
.srv-image {
    text-align: center;
    position: relative;
}
.srv-image img {
    width: 260px;
}
.srv-image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    right: 0;
    top: -50px;
    z-index: -1;
}
@media (max-width: 1199px) {
    .srv-image {
        display: none;
    }
}
/* Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio-content .card img {
    width: 100%;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content .card .info {
    padding: 20px;
}
@media (max-width: 767px) {
    .portfolio-content .card .info {
        text-align: center;
    }
}
.portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about-content .image {
        margin: 0 auto 60px;
    }
}
.about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}
.about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    left: calc( 100% - 50px);
    z-index: -1;
}
@media (max-width: 991px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}
.about-content .image img {
    width: 100%;
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about-content .text p:last-of-type {
    font-weight: bold;
    line-height: 2;
    color: #777;
    margin-top: 30px;
}
/* Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.info .link {
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    display: block;
}
.info .social {
    font-size: 16px;
    margin-top: 20px;
}
.info .social i {
    font-size: 15px;
    color: var(--secondary-color);
}
.info .social i:first-of-type {
    margin-left: 7px;
}
@media (max-width: 576px) {
    .info .link,
    .info .label {
        font-size: 27px;
    }
    .info .social {
        font-size: 14px;
    }
}
/* Footer */
.footer {
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}